@charset "EUC-KR";

@font-face { font-family: 'NanumBarunGothic';
src: url('/fonts/NanumBarunGothic.eot');
src: url('/fonts/NanumBarunGothic.eot') format('embedded-opentype'),
url('/fonts/NanumBarunGothic.woff') format('woff');}


body > div.header-section > div > div.row > div > div > a > img{
	max-width: 324px;
    max-width: 100%;
    margin: auto;
    text-align: center;
    display: block;
    height:150px;
}

#login,
#logout,
#storesmall {
	vertical-align: -32%;
}

#sell,
#storebig,
#talk,
#category {
	vertical-align: -50%;
}

.fa-b:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    color: green;
    content: 'N';
}

.font_Gothic{
	font-family: 'NanumBarunGothic', 'serif';
}
